.main_drinks{
	background-image: url('../images/drinks.jpg');
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	/* color: aliceblue; */
	display: flex;
	letter-spacing: 0.2px;
}

img{

	width: 100%;
	border-radius: 10px;
	padding: 1rem;
}

.display{

	padding: 1rem;
	
}


