.main_drinks {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  letter-spacing: 0.2px;
}

.bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
 
}

.main-content {
  position: relative;
  text-align: center;
  z-index: 1;
  text-align: center;
  color: aliceblue;
  
}

img {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.display {
  padding: 1rem;
}

.hide{

  display: none;
}

#input {
  color: rgb(55, 49, 49);
  background-color: hsla(53, 100%, 50%, 0.9);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  width: 50%;
  margin: 1rem;
  outline: none;
}

p {
  padding: 0.5rem;
}

#drinks_container{

  
  overflow: hidden;
}

#drinks_container p{
margin: 4px 0;
  color: white;
}

#input:hover {
  color: rgb(253, 216, 7);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 30px rgba(211, 103, 14, 0.9);
  border: 2px solid rgba(211, 103, 14, 0.9);
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0.5rem;
  }

  .main-content {
    margin-bottom: 1rem;
  }
}
