.main_drinks {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  letter-spacing: 0.2px;
}

.bg_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  display: block;
}

.main-content {
  position: relative;
  text-align: center;
  z-index: 1;
  text-align: center;
  color: aliceblue;
}

#audio {
  color: hsla(53, 100%, 50%, 0.9);
  font-size: 1rem;
}

img {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.display {
  padding: 1rem;
}

.hide {
  display: none;
}

.ingredient_btn {
  color: rgb(55, 49, 49);
  background-color: hsla(53, 100%, 50%, 0.9);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
}

.ingredient_btn:hover {
  color: rgb(253, 216, 7);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 30px rgba(211, 103, 14, 0.9);
  border: 2px solid rgba(211, 103, 14, 0.9);
}

#input {
  color: rgb(55, 49, 49);
  background-color: hsla(53, 100%, 50%, 0.9);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  width: 50%;
  margin: 0.5rem;
  outline: none;
}

.search {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#clear_icon {
  cursor: pointer;
  font-size: 15px;
  color: aliceblue;
}

#clear_icon:hover {
  color: rgba(211, 103, 14, 0.9);
}

#search_history {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  max-height: 100px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

#audio_icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  display: block;
  left: 0px;
  top: 20%;

  transform: translateY(-50%);
}

p {
  padding: 0.5rem;
}

#drinks_container {
  overflow: hidden;
}

#drinks_container p {
  margin: 4px 0;
  color: white;
}

#input:hover {
  color: rgb(253, 216, 7);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 30px rgba(211, 103, 14, 0.9);
  border: 2px solid rgba(211, 103, 14, 0.9);
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0.5rem;
  }

  .main-content {
    margin-bottom: 1rem;
  }

  #audio_icon {
    display: block;

    font-size: 30px;
  }
}
