.main_drinks {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  letter-spacing: 0.2px;
}

.bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main-content {
  position: relative;
  text-align: center;
  z-index: 1;
  text-align: center;
  color: aliceblue;
}

img {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.display {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0.5rem;
  }

  .main-content {
    margin-bottom: 1rem;
  }
}
