.main_menu {
	background-image: url('../images/foodmenu.jpg');
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	display: flex;
	letter-spacing: 0.2px;
	background-attachment: fixed;
}

.main_menu .meal-card img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: 12px;
}

.main-title-menu {
	color: aliceblue;
}

.category-buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
}