.main_menu {
	background-image: url('../images/foodmenu.jpg');
	background-size: cover;
	background-position: left;
	background-repeat: repeat;
	width: 100%;
	min-height: 100vh;
	/* color: aliceblue; */
	display: flex;
	letter-spacing: 0.2px;
}

.main_menu .meal-card img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 12px;
}

.main-title-menu {
	color: aliceblue;

}