* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Comic Neue", cursive;
}

html {
	height: 100vh;
}

body {
	height: 100%;
}
.header{
	height: 120px;
	display: flex;
	justify-content: space-between;
	background-color: black;
	align-items: center;
	justify-content: space-evenly;
}
.logo{
	cursor: pointer;
}
.fa-solid .fa-utensils{
	height: 60px;
	width: 60px;
}
.button{
	padding: 10px;
	font-size: 2rem;
	border-radius: 10px;
}

.main {
	background-image: url("../images/foodmenu.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	color: aliceblue;
	display: flex;
	letter-spacing: 0.2px;
}

.main-content {
	background-color: hsl(60, 9%, 77%, 0.3);
	border-radius: 20px;
	text-align: center;
	max-width: 80%;
	margin: auto;
	margin-top: 15rem;
	padding: 1em;
}

.main-title {
	font-size: 2rem;
}

.main-para {
	font-size: 1rem;
	line-height: 1.6;
}

@media screen and (min-width:769px) {
.main-content{
	max-width: 60%;
}
.main-title {
	font-size: 4rem;
}

.main-para {
	font-size: 2rem;
	line-height: 1.6;
}
}