* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Comic Neue", cursive;
}

html {
	height: 100vh;
}

body {
	height: 100%;
}

.main {
	background-image: url("../images/foodmenu.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	color: aliceblue;
}

.main-content {
	display: flex;
	flex-direction: column;
	background-color: hsl(60, 9%, 77%, 0.3);
	border-radius: 20px;
	text-align: center;
	align-items: center;
	max-width: 60%;
	margin: auto;
	padding: 30px;
	align-content: center;

}

.main-title {
	font-size: 4rem;

}

.main-para {
	font-size: 2rem;
	line-height: 1.6;

}