*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Comic Neue", cursive;
}

html{
	height: 100vh;
}

body{
	height: 100%;
}

.main{
	background-image: url("../images/foodmenu.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
